@media only screen and (min-width: 300px) and (max-width: 468px){
  .aboutMe{
    margin-bottom: 2vw;
  }
  #arrowAnim {
    padding-top: 6vw;
      width: 30vw;
      height: 20vh;
      justify-content: center;
      align-items: center;
      display: inline-block;
      vertical-align: middle;
      width: 33.3333%;
      box-sizing: border-box;
    }
    
    .arrow {
      animation: fade-in 1s;
      width: 0.5vw;
      height: 0.5vw;
      border: 0.3vw solid;
      vertical-align: middle;
      border-color: black transparent transparent black;
      transform: rotate(135deg);
    }
    
    
    .arrowSliding {
      position: absolute;
      -webkit-animation: slide 4s linear infinite; 
              animation: slide 4s linear infinite;
    }
    
    .delay1 {
      -webkit-animation-delay: 1s; 
        animation-delay: 1s;
    }
    .delay2 {
      -webkit-animation-delay: 2s; 
        animation-delay: 2s;
    }
    .delay3 {
      -webkit-animation-delay: 3s; 
        animation-delay: 3s;
    }
    
    @-webkit-keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(8vw); }	
      100% { opacity:0; transform: translateX(12vw); }	
    }
    @keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(14vw); }	
      100% { opacity:0; transform: translateX(17vw); }	
    }
  
    .journey{
      margin-top: 5vw;
      padding-left: 20vw;
      padding-right: 20vw;
      font-size: 0;
      
      display: grid;
      grid-template-rows: 15vw;
      grid-template-columns: 33% 33% 33%;
    }
    .korea{
      
      height: 20%;
        max-width:100%;
        display: inline-block;
          vertical-align: top;
          width: 100%;
          align-items: center;
          box-sizing: border-box;
          padding-left: 3vw;
        }
    .korea-img{
      
      animation: fade-in 1s;
      border: 5px black;
      box-shadow: 0.3px 0.1px 4px 0.3px #0000002f;
      border-radius: 50%;
      display: block;
      
      align-items: center;
      
      margin-left: auto;
      margin-right: auto;
      width: 85%;
  }
    .canada{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      box-sizing: border-box;
      padding-right: 3vw;
    }
    .canada-img{
      animation: fade-in 1s;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
    .first_para p{
      letter-spacing: 0px;
      padding-top: 2vw;
      text-align: center;
      font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 3.5vw;
      font-weight: 600;
      padding-bottom: 3vw;
    }
  
    .video-container {
      width: 100%;
      height: 50vw;
      object-fit: cover;
    object-position: bottom;
      position: relative;
  }
  
  .video-container video {
    filter: grayscale(50%) brightness(70%);
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }
  .captionbox{
    transform: translateY(-10%);
  }
  .caption{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    z-index: 1;
    vertical-align: middle;
    position: relative;
    color: #ffffff;
    text-align: center;
    align-items: center;
    transform: translateY(35%);
    
  }
  .caption h1{
    font-size: 4vw;
  }
  .caption p{
    font-size: 3.5vw;
  }
  .interest{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      vertical-align: middle;
      text-align: center;
      padding-top: 3vw;
  }
  .interest h1{
    font-size: 5vw;
  }
  .interest p{
    padding-top: 2vw;
    font-size: 3.5vw;
  }
  
    @keyframes fade-in {
      from {opacity: 0;}
      to {opacity: 1;}  
    }
  
  .image-gallery{
    margin-top: 2vw;
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 1vw;
  }
  .grid{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .video-grid{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    columns: auto auto;
  }
  
  
  .top-video{
    transform: translateX(3%) translateY(-38%);
    width: 85%;
    height: 50%;
    left: 50%;
    object-position: bottom;
  }
  
  .bottom-video{
    transform: translateX(3%) translateY(-120%);
    width: 85%;
    height: 50%;
    left: 50%;
    object-position: bottom;
  }
}
@media only screen and (min-width: 468px) and (max-width: 600px){
  .aboutMe{
    margin-bottom: 2vw;
  }
  #arrowAnim {
    padding-top: 6vw;
      width: 30vw;
      height: 20vh;
      justify-content: center;
      align-items: center;
      display: inline-block;
      vertical-align: middle;
      width: 33.3333%;
      box-sizing: border-box;
    }
    
    .arrow {
      animation: fade-in 1s;
      width: 0.5vw;
      height: 0.5vw;
      border: 0.3vw solid;
      vertical-align: middle;
      border-color: black transparent transparent black;
      transform: rotate(135deg);
    }
    
    
    .arrowSliding {
      position: absolute;
      -webkit-animation: slide 4s linear infinite; 
              animation: slide 4s linear infinite;
    }
    
    .delay1 {
      -webkit-animation-delay: 1s; 
        animation-delay: 1s;
    }
    .delay2 {
      -webkit-animation-delay: 2s; 
        animation-delay: 2s;
    }
    .delay3 {
      -webkit-animation-delay: 3s; 
        animation-delay: 3s;
    }
    
    @-webkit-keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(8vw); }	
      100% { opacity:0; transform: translateX(12vw); }	
    }
    @keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(13vw); }	
      100% { opacity:0; transform: translateX(16vw); }	
    }
  
    .journey{
      margin-top: 5vw;
      padding-left: 20vw;
      padding-right: 20vw;
      font-size: 0;
      
      display: grid;
      grid-template-rows: 15vw;
      grid-template-columns: 33% 33% 33%;
    }
    .korea{
      
      height: 20%;
        max-width:100%;
        display: inline-block;
          vertical-align: top;
          width: 100%;
          align-items: center;
          box-sizing: border-box;
          padding-left: 3vw;
        }
    .korea-img{
      
      animation: fade-in 1s;
      border: 5px black;
      box-shadow: 0.3px 0.1px 4px 0.3px #0000002f;
      border-radius: 50%;
      display: block;
      
      align-items: center;
      
      margin-left: auto;
      margin-right: auto;
      width: 85%;
  }
    .canada{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      box-sizing: border-box;
      padding-right: 3vw;
    }
    .canada-img{
      animation: fade-in 1s;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
    .first_para p{
      letter-spacing: 0px;
      padding-top: 2vw;
      text-align: center;
      font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 2.5vw;
      font-weight: 600;
      padding-bottom: 3vw;
    }
  
    .video-container {
      width: 100%;
      height: 45vw;
      object-fit: cover;
    object-position: bottom;
      position: relative;
  }
  
  .video-container video {
    filter: grayscale(50%) brightness(70%);
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }
  .caption{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.5vw;
    font-weight: 500;
    z-index: 1;
    vertical-align: middle;
    position: relative;
    color: #ffffff;
    text-align: center;
    align-items: center;
    transform: translateY(35%);
    
  }
  .caption h1{
    font-size: 4vw;
  }
  .interest{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      vertical-align: middle;
      text-align: center;
      padding-top: 3vw;
  }
  .interest h1{
    font-size: 3.5vw;
  }
  .interest p{
    padding-top: 2vw;
    font-size: 2.5vw;
  }
  
    @keyframes fade-in {
      from {opacity: 0;}
      to {opacity: 1;}  
    }
  
  .image-gallery{
    margin-top: 2vw;
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 1vw;
  }
  .grid{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .video-grid{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    columns: auto auto;
  }
  
  
  .top-video{
    transform: translateX(3%) translateY(-18%);
    width: 85%;
    height: 60%;
    left: 50%;
    object-position: bottom;
  }
  
  .bottom-video{
    transform: translateX(3%) translateY(-50%);
    width: 85%;
    height: 60%;
    left: 50%;
    object-position: bottom;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
  .aboutMe{
    margin-bottom: 2vw;
  }
  #arrowAnim {
    padding-top: 6vw;
      width: 30vw;
      height: 20vh;
      justify-content: center;
      align-items: center;
      display: inline-block;
      vertical-align: middle;
      width: 33.3333%;
      box-sizing: border-box;
    }
    
    .arrow {
      animation: fade-in 1s;
      width: 0.5vw;
      height: 0.5vw;
      border: 0.3vw solid;
      vertical-align: middle;
      border-color: black transparent transparent black;
      transform: rotate(135deg);
    }
    
    
    .arrowSliding {
      position: absolute;
      -webkit-animation: slide 4s linear infinite; 
              animation: slide 4s linear infinite;
    }
    
    .delay1 {
      -webkit-animation-delay: 1s; 
        animation-delay: 1s;
    }
    .delay2 {
      -webkit-animation-delay: 2s; 
        animation-delay: 2s;
    }
    .delay3 {
      -webkit-animation-delay: 3s; 
        animation-delay: 3s;
    }
    
    @-webkit-keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(8vw); }	
      100% { opacity:0; transform: translateX(12vw); }	
    }
    @keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(12vw); }	
      100% { opacity:0; transform: translateX(16vw); }	
    }
  
    .journey{
      margin-top: 5vw;
      padding-left: 20vw;
      padding-right: 20vw;
      font-size: 0;
      
      display: grid;
      grid-template-rows: 15vw;
      grid-template-columns: 33% 33% 33%;
    }
    .korea{
      
      height: 20%;
        max-width:100%;
        display: inline-block;
          vertical-align: top;
          width: 100%;
          align-items: center;
          box-sizing: border-box;
          padding-left: 3vw;
        }
    .korea-img{
      
      animation: fade-in 1s;
      border: 5px black;
      box-shadow: 0.3px 0.1px 4px 0.3px #0000002f;
      border-radius: 50%;
      display: block;
      
      align-items: center;
      
      margin-left: auto;
      margin-right: auto;
      width: 85%;
  }
    .canada{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      box-sizing: border-box;
      padding-right: 3vw;
    }
    .canada-img{
      animation: fade-in 1s;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
    .first_para p{
      letter-spacing: 0px;
      padding-top: 2vw;
      text-align: center;
      font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 2.5vw;
      font-weight: 600;
      padding-bottom: 3vw;
    }
  
    .video-container {
      width: 100%;
      height: 35vw;
      object-fit: cover;
    object-position: bottom;
      position: relative;
  }
  
  .video-container video {
    filter: grayscale(50%) brightness(70%);
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }
  .caption{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.5vw;
    font-weight: 500;
    z-index: 1;
    vertical-align: middle;
    position: relative;
    color: #ffffff;
    text-align: center;
    align-items: center;
    transform: translateY(35%);
    
  }
  .caption h1{
    font-size: 4vw;
  }
  .interest{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      vertical-align: middle;
      text-align: center;
      padding-top: 3vw;
  }
  .interest h1{
    font-size: 4vw;
  }
  .interest p{
    padding-top: 2vw;
    font-size: 2.5vw;
  }
  
    @keyframes fade-in {
      from {opacity: 0;}
      to {opacity: 1;}  
    }
  
  .image-gallery{
    margin-top: 2vw;
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 1vw;
  }
  .grid{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .video-grid{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    columns: auto auto;
  }
  
  
  .top-video{
    transform: translateX(3%) translateY(-4%);
    width: 95%;
    height: 70%;
    left: 50%;
    object-position: bottom;
  }
  
  .bottom-video{
    transform: translateX(3%) translateY(-35%);
    width: 95%;
    height: 70%;
    left: 50%;
    object-position: bottom;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px){
  .aboutMe{
    margin-bottom: 2vw;
  }
  #arrowAnim {
    padding-top: 6vw;
      width: 30vw;
      height: 20vh;
      justify-content: center;
      align-items: center;
      display: inline-block;
      vertical-align: middle;
      width: 33.3333%;
      box-sizing: border-box;
    }
    
    .arrow {
      animation: fade-in 1s;
      width: 0.5vw;
      height: 0.5vw;
      border: 0.3vw solid;
      vertical-align: middle;
      border-color: black transparent transparent black;
      transform: rotate(135deg);
    }
    
    
    .arrowSliding {
      position: absolute;
      -webkit-animation: slide 4s linear infinite; 
              animation: slide 4s linear infinite;
    }
    
    .delay1 {
      -webkit-animation-delay: 1s; 
        animation-delay: 1s;
    }
    .delay2 {
      -webkit-animation-delay: 2s; 
        animation-delay: 2s;
    }
    .delay3 {
      -webkit-animation-delay: 3s; 
        animation-delay: 3s;
    }
    
    @-webkit-keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(8vw); }	
      100% { opacity:0; transform: translateX(12vw); }	
    }
    @keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(13vw); }	
      100% { opacity:0; transform: translateX(16vw); }	
    }
  
    .journey{
      padding-top: 7vw;
      padding-left: 20vw;
      padding-right: 20vw;
      font-size: 0;
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }
    .korea{
        max-width:100%;
        display: inline-block;
          vertical-align: top;
          width: 100%;
          box-sizing: border-box;
          padding-left: 3vw;
        }
    .korea-img{
      animation: fade-in 1s;
      border: 5px black;
      box-shadow: 0.3px 0.1px 4px 0.3px #0000002f;
      border-radius: 50%;
      display: block;
      
      margin-left: auto;
      margin-right: auto;
      width: 85%;
  }
    .canada{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      box-sizing: border-box;
      padding-right: 3vw;
    }
    .canada-img{
      animation: fade-in 1s;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
  
    .first_para p{
      letter-spacing: 0px;
      padding-top: 2vw;
      text-align: center;
      font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1.5vw;
      font-weight: 600;
      padding-bottom: 3vw;
    }
  
    .video-container {
      width: 100%;
      height: 25vw;
      object-fit: cover;
    object-position: bottom;
      position: relative;
  }
  
  .video-container video {
    filter: grayscale(50%) brightness(70%);
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }
  .caption{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    z-index: 1;
    vertical-align: middle;
    position: relative;
    color: #ffffff;
    text-align: center;
    align-items: center;
    transform: translateY(60%);
    
  }
  .interest{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      vertical-align: middle;
      text-align: center;
      padding-top: 3vw;
  }
  .interest h1{
    font-size: 3.5vw;
  }
  .interest p{
    padding-top: 2vw;
    font-size: 1.5vw;
  }
  
    @keyframes fade-in {
      from {opacity: 0;}
      to {opacity: 1;}  
    }
  
  .image-gallery{
    margin-top: 2vw;
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 1vw;
  }
  .grid{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .video-grid{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    columns: auto auto;
  }
  
  
  .top-video{
    transform: translateX(3%) translateY(-4%);
    width: 95%;
    height: 70%;
    left: 50%;
    object-position: bottom;
  }
  
  .bottom-video{
    transform: translateX(3%) translateY(-35%);
    width: 95%;
    height: 70%;
    left: 50%;
    object-position: bottom;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1280px){
.aboutMe{
  margin-bottom: 2vw;
}
#arrowAnim {
  padding-top: 5vw;
    width: 30vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    width: 33.3333%;
    box-sizing: border-box;
  }
  
  .arrow {
    animation: fade-in 1s;
    width: 0.5vw;
    height: 0.5vw;
    border: 0.3vw solid;
    vertical-align: middle;
    border-color: black transparent transparent black;
    transform: rotate(135deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(0vw); }	
     20% { opacity:1; transform: translateX(4vw); }	
     80% { opacity:1; transform: translateX(8vw); }	
    100% { opacity:0; transform: translateX(12vw); }	
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(0vw); }	
     20% { opacity:1; transform: translateX(8vw); }	
     80% { opacity:1; transform: translateX(14vw); }	
    100% { opacity:0; transform: translateX(16vw); }	
  }

  .journey{
    padding-top: 7vw;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .korea{
      max-width:100%;
      display: inline-block;
        vertical-align: top;
        width: 100%;
        box-sizing: border-box;
        padding-left: 3vw;
      }
  .korea-img{
    animation: fade-in 1s;
    border: 5px black;
    box-shadow: 0.3px 0.1px 4px 0.3px #0000002f;
    border-radius: 50%;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
  .canada{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    padding-right: 3vw;
  }
  .canada-img{
    animation: fade-in 1s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .first_para p{
    letter-spacing: 0px;
    padding-top: 2vw;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    padding-bottom: 3vw;
  }

  .video-container {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  object-position: bottom;
    position: relative;
}

.video-container video {
  filter: grayscale(50%) brightness(70%);
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.caption{
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  z-index: 1;
  vertical-align: middle;
  position: relative;
  color: #ffffff;
  text-align: center;
  align-items: center;
  transform: translateY(60%);
  
}
.interest{
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    vertical-align: middle;
    text-align: center;
    padding-top: 3vw;
}
.interest h1{
  font-size: 3.5vw;
}
.interest p{
  padding-top: 2vw;
  font-size: 1.5vw;
}

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}  
  }

.image-gallery{
  margin-top: 2vw;
  width: 40vw;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 1vw;
}
.grid{
  display: grid;
  grid-template-columns: auto auto;
}

.video-grid{
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  columns: auto auto;
}


.top-video{
  transform: translateX(3%) translateY(-4%);
  width: 95%;
  height: 70%;
  left: 50%;
  object-position: bottom;
}

.bottom-video{
  transform: translateX(3%) translateY(-35%);
  width: 95%;
  height: 70%;
  left: 50%;
  object-position: bottom;
}
}


@media only screen and (min-width: 1280px) and (max-width: 1980px){
  .aboutMe{
    margin-bottom: 2vw;
  }
  #arrowAnim {
    padding-top: 3vw;
      width: 30vw;
      height: 20vh;
      justify-content: center;
      align-items: center;
      display: inline-block;
      vertical-align: middle;
      width: 33.3333%;
      box-sizing: border-box;
    }
    
    .arrow {
      animation: fade-in 1s;
      width: 0.5vw;
      height: 0.5vw;
      border: 0.3vw solid;
      vertical-align: middle;
      border-color: black transparent transparent black;
      transform: rotate(135deg);
    }
    
    
    .arrowSliding {
      position: absolute;
      -webkit-animation: slide 4s linear infinite; 
              animation: slide 4s linear infinite;
    }
    
    .delay1 {
      -webkit-animation-delay: 1s; 
        animation-delay: 1s;
    }
    .delay2 {
      -webkit-animation-delay: 2s; 
        animation-delay: 2s;
    }
    .delay3 {
      -webkit-animation-delay: 3s; 
        animation-delay: 3s;
    }
    
    @-webkit-keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }	
       20% { opacity:1; transform: translateX(4vw); }	
       80% { opacity:1; transform: translateX(8vw); }	
      100% { opacity:0; transform: translateX(10vw); }	
    }
    @keyframes slide {
        0% { opacity:0; transform: translateX(2vw); }	
       20% { opacity:1; transform: translateX(6vw); }	
       80% { opacity:1; transform: translateX(9vw); }	
      100% { opacity:0; transform: translateX(10vw); }	
    }
  
    .journey{
      padding-top: 7vw;
      padding-left: 20vw;
      padding-right: 20vw;
      font-size: 0;
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }
    .korea{
        max-width:100%;
        display: inline-block;
          vertical-align: top;
          width: 100%;
          box-sizing: border-box;
          padding-left: 3vw;
        }
    .korea-img{
      animation: fade-in 1s;
      border: 5px black;
      box-shadow: 0.3px 0.1px 4px 0.3px #0000002f;
      border-radius: 50%;
      display: block;
      
      margin-left: auto;
      margin-right: auto;
      width: 85%;
  }
    .canada{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      box-sizing: border-box;
      padding-right: 3vw;
    }
    .canada-img{
      animation: fade-in 1s;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
  
    .first_para p{
      letter-spacing: -1px;
      padding-top: 2vw;
      text-align: center;
      font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1.5vw;
      font-weight: 600;
      padding-bottom: 3vw;
    }
  
    .video-container {
      width: 100%;
      height: 25vw;
      object-fit: cover;
    object-position: bottom;
      position: relative;
  }
  
  .video-container video {
    filter: grayscale(50%) brightness(70%);
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }
  .caption{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    z-index: 1;
    vertical-align: middle;
    position: relative;
    color: #ffffff;
    text-align: center;
    align-items: center;
    transform: translateY(80%);
  }
  .caption h1{
    font-size: 3vw;
  }
  .interest{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      vertical-align: middle;
      text-align: center;
      padding-top: 3vw;
  }
  
  .interest p{
    padding-top: 2vw;
    font-size: 1.2vw;
  }
  
    @keyframes fade-in {
      from {opacity: 0;}
      to {opacity: 1;}  
    }
  
  .image-gallery{
    margin-top: 2vw;
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 1vw;
  }
  .grid{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .video-grid{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    columns: auto auto;
  }
  
  
  .top-video{
    transform: translateX(3%) translateY(-2%);
    width: 95%;
    height: 70%;
    left: 50%;
    object-position: bottom;
  }
  
  .bottom-video{
    transform: translateX(3%) translateY(-35%);
    width: 95%;
    height: 70%;
    left: 50%;
    object-position: bottom;
  }
}

@media only screen and (min-width: 1980px) and (max-width: 3120px){
    .aboutMe{
      margin-bottom: 2vw;
    }
    #arrowAnim {
      padding-top: 3vw;
        width: 30vw;
        height: 20vh;
        justify-content: center;
        align-items: center;
        display: inline-block;
        vertical-align: middle;
        width: 33.3333%;
        box-sizing: border-box;
      }
      
      .arrow {
        animation: fade-in 1s;
        width: 0.5vw;
        height: 0.5vw;
        border: 0.3vw solid;
        vertical-align: middle;
        border-color: black transparent transparent black;
        transform: rotate(135deg);
      }
      
      
      .arrowSliding {
        position: absolute;
        -webkit-animation: slide 4s linear infinite; 
                animation: slide 4s linear infinite;
      }
      
      .delay1 {
        -webkit-animation-delay: 1s; 
          animation-delay: 1s;
      }
      .delay2 {
        -webkit-animation-delay: 2s; 
          animation-delay: 2s;
      }
      .delay3 {
        -webkit-animation-delay: 3s; 
          animation-delay: 3s;
      }
      
      @-webkit-keyframes slide {
          0% { opacity:0; transform: translateX(0vw); }	
         20% { opacity:1; transform: translateX(4vw); }	
         80% { opacity:1; transform: translateX(8vw); }	
        100% { opacity:0; transform: translateX(12vw); }	
      }
      @keyframes slide {
          0% { opacity:0; transform: translateX(0vw); }	
         20% { opacity:1; transform: translateX(4vw); }	
         80% { opacity:1; transform: translateX(8vw); }	
        100% { opacity:0; transform: translateX(12vw); }	
      }
    
      .journey{
        padding-top: 7vw;
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 0;
        display: grid;
        grid-template-columns: 33% 33% 33%;
      }
      .korea{
          max-width:100%;
          display: inline-block;
            vertical-align: top;
            width: 100%;
            box-sizing: border-box;
            padding-left: 3vw;
          }
      .korea-img{
        animation: fade-in 1s;
        border: 5px black;
        box-shadow: 0.3px 0.1px 4px 0.3px #0000002f;
        border-radius: 50%;
        display: block;
        
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
      .canada{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        box-sizing: border-box;
        padding-right: 3vw;
      }
      .canada-img{
        animation: fade-in 1s;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
    
      .first_para p{
        letter-spacing: -1px;
        padding-top: 2vw;
        text-align: center;
        font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 1.5vw;
        font-weight: 600;
        padding-bottom: 3vw;
      }
    
      .video-container {
        width: 100%;
        height: 25vw;
        object-fit: cover;
      object-position: bottom;
        position: relative;
    }
    
    .video-container video {
      filter: grayscale(50%) brightness(70%);
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
    }
    .caption{
      font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1.2vw;
      font-weight: 500;
      z-index: 1;
      vertical-align: middle;
      position: relative;
      color: #ffffff;
      text-align: center;
      align-items: center;
      transform: translateY(60%);
      
    }
    .interest{
      font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        vertical-align: middle;
        text-align: center;
        padding-top: 3vw;
    }
    .interest p{
      padding-top: 2vw;
      font-size: 1vw;
    }
    
      @keyframes fade-in {
        from {opacity: 0;}
        to {opacity: 1;}  
      }
    
    .image-gallery{
      margin-top: 2vw;
      width: 40vw;
      left: 50%;
      transform: translateX(-50%);
      padding-right: 1vw;
    }
    .grid{
      display: grid;
      grid-template-columns: auto auto;
    }
    
    .video-grid{
      text-align: center;
      align-items: center;
      display: grid;
      grid-template-columns: auto auto;
      columns: auto auto;
    }
    
    
    .top-video{
      transform: translateX(3%) translateY(-15%);
      width: 95%;
      height: 50%;
      left: 50%;
      object-position: bottom;
    }
    
    .bottom-video{
      transform: translateX(3%) translateY(-65%);
      width: 95%;
      height: 50%;
      left: 50%;
      object-position: bottom;
    }
}