.announce {
  background-color: rgb(255, 255, 255);
  padding-bottom: 0px;
}
.navbar {
  list-style-type: none;
  overflow: hidden;
  background-color: hsla(0, 0%, 100%, 0.178);
  color: bisque;
  text-align: center;
}
.logo {
  width: 3vw;
  margin: 0px;
  padding: 0px;
}
.navbar_logo a {
  float: left;
  width: 8px;
  margin-left: 30px;
}
.navbar_logo a img {
  float: left;
  width: 3vw;
  margin-left: 30px;
}
.navbar_menu {
  list-style-type: none;
  margin-top: 0;
}
.navbar_menu li {
  display: inline-block;
  text-align: center;
  margin: 15px;
}
.navbar_menu li a {
  letter-spacing: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9vw;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
}
