*{
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about_background  {
  text-align: center;
  margin-top: 3vw;
  width: 100%;
  background-color: #ebebeb;
  overflow: hidden;
  background-size: cover;
}

.about_field{
  display: flex;
  text-align: center;
  animation: sliding 25s infinite linear;
  transition: linear 3s;
}
.about_field:hover{
  animation-play-state: paused;
}
.about_field .left_field{
  text-align: right;
  background: transparent;
}
.about_field .right_field{
  text-align: left;
  
  background: transparent;
}

.about_field .left_field .card_section_left{
  display: inline-block;
  background-color: #faf8f6fb;
  border-radius: 5%;
  color: #1D1C1A;
  text-align: center;
  height: 25vw;
  width: 18vw;
  margin: 2vw;
  padding: 1vw;
  box-shadow:0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.203);
}
.about_field .left_field .card_section_left2{
  
  border-radius: 5%;
  display: inline-block;
  background-color: #faf8f6fb;
  color: #1D1C1A;
  text-align: center;
  height: 25vw;
  width: 18vw;
  margin: 2vw;
  padding: 1vw;
  box-shadow:0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.203);
}

.about_field .left_field .card_section_left3{
  
  border-radius: 5%;
  display: inline-block;
  background-color: #faf8f6fb;
  color: #1D1C1A;
  text-align: center;
  height: 25vw;
  width: 18vw;
  margin: 2vw;
  padding: 1vw;
  box-shadow:0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.203);
}

.card_section_left:hover{
  transform: scale(1.1);
  transition: 1s ease;
}
.card_section_left2:hover{
  animation: heart-beat 2s;
  animation-iteration-count: inherit ;
  transition: 5s ease;
}
.card_section_left3:hover{
  animation: turning 4s;
  animation-iteration-count: inherit ;
  transition: 5s ease;
}
.about_field .left_field .card_section_left .info{
  display: inline-block;
  padding: 0.5vw;
  font-size: 0.9vw;
}
.about_field .left_field .card_section_left2 .info{
  display: inline-block;
  padding: 0.5vw;
  font-size: 0.9vw;
}
.about_field .left_field .card_section_left3 .info{
  display: inline-block;
  padding: 0.5vw;
  font-size: 0.9vw;
}
.about_field .right_field .card_section_right{
  
  border-radius: 5%;
  display: inline-block;
  background-color: #faf8f6fb;
  color: #1D1C1A;
  text-align: center;
  height: 25vw;
  width: 18vw;
  margin: 2vw;
  padding: 1vw;
  box-shadow:0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.203);
}
.about_field .right_field .card_section_right2{
  
  border-radius: 5%;
  display: inline-block;
  background-color: #faf8f6fb;
  color: #1D1C1A;
  text-align: center;
  height: 25vw;
  width: 18vw;
  margin: 2vw;
  padding: 1vw;
  box-shadow:0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.203);
}

.card_section_right:hover{
  animation: bounce 2s;
  animation-iteration-count: inherit ;
  transition: 5s ease;
}

.about_field .right_field .card_section_right .info{
  display: inline-block;
  padding: 1vw;
  font-size: 0.9vw;
}
.about_field .right_field .card_section_right2 .info{
  display: inline-block;
  padding: 1vw;
  font-size: 0.9vw;
}

.card_section_right2:hover{
  animation: bounce2 2s;
  animation-iteration-count:inherit ;
  transition: 5s ease;
}



.img_frame{
}
.img_frame img{
  width: 10vw;
  padding-bottom: 0.5vw;
}
.img_frame .seneca{
  width: 12vw;
  padding-top: 1vw;
}
.img_frame .skills{
  width: 13vw;
  padding-top: 2vw;
  padding-bottom: 1vw;
}
.info h1{
  margin-top: 2vw;
  font-size: 1.2vw;
}
.MuiContainer-root{
  padding: 0;
}

@keyframes bounce {
  0%{ transform: translateY(0);}
  23%{ transform: translateY(-1vw);}
  46%{ transform: translateY(0); }
  75%{transform: translateY(-2vw);}
  100%{ transform: translateY(0);}
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  65% {
    transform: scale(1.1, 1.1);
  }
  78% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes heart-beat {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.05, 1.05);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  60% {
    transform: scale(1.04, 1.04);
  }
  70%{
    transform: scale(0.95, 0.95);
  }
  80%{
    transform: scale(1.07, 1.07);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes bounce2 {
  0%{ transform: translateY(0);}
  23%{ transform:rotate(5deg) scale(1.05);}
  46%{ transform: translateY(0);  
    transform: translateX(0);}
  75%{transform: translateY(1vw) rotate(-5deg);}
  100%{ transform: translateY(0);}
}

@keyframes turning {
  0%{ transform: skewx(10deg) scale(0.9);}
  8%{ transform: skewy(45deg)scale(0.6) ;}
  46%{ transform: skewY(180deg) scale(0.8) ;}
  65%{transform: rotate(-9deg);}
  80%{transform:rotate(360deg) ;}
  100%{transform:rotate(360deg) ;}
}

@keyframes sliding {
  0%{ transform: 0;}
  100%{transform: translateX(-155vw);}
}